body {
  background: rgb(233, 227, 227);
}
.home{
  background-color:lightblue}
  
.nosotros{
  background-color: burlywood;
}
.carta{
  background-color: darksalmon;
}
.contacto{
  background-color: goldenrod;
}