body {
  background: rgb(233, 227, 227);
}
.titulo{
top: 10px;
border: 10px solid black;
}

.texto{
  background-color:rgb(117, 204, 58);
 /* hay que ponerle un width y height*/
  width:350px;
  height:350px;
  border: 4px solid black;
  display: grid;
  grid-auto-flow: column;
            
}

.home{
  background-color:lightblue;
  border: 2px solid black;
  margin: 2px;
;
}


.nosotros{
  background-color:bisque;
  border: 2px solid black;
  margin:2px;
  grid-area: nosotros;
   ;
}

.carta{
  background-color: darksalmon;
  border: 2px solid black;
  margin:2px;
   }

.contacto{
  background-color: goldenrod;
  border: 2px solid black;
  margin:2px;
 }

.imagenes{
  background-color: darksalmon;
  display:flex;
}

.exterior{
  width:250px;
  height:180px;
  margin: 5px
}
.comida{
  width:200px;
  height:150px;
  margin: 5px
}
